// ==============================
// 基礎設定
// １color
// ２font
// ３レスポンシブ
// ==============================

// ------------------------------
// １color
// ------------------------------
$color-black: #333333;
$color-white: #ffffff;

$font-color: #333333; //基本のfont-color

$bg-normal: #f0f0f0;
$bg-second: #464646;
$color-footer: #241e52;
$history-bg-color: #222;
$accent-color: rgb(225, 180, 0);

// ------------------------------
// ２font
// ------------------------------
//font-familyの基本をここで指定
$font-f-main: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
  Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

// 全てのタグに適用
* {
  color: $color-white;
  font-size: 16px; //基本サイズ
  font-family: $font-f-main;
  letter-spacing: 0.1em;
}

body {
  background-color: #222;
}

// ------------------------------
// ３レスポンシブ
// ------------------------------

// PCファースト（1920pxまで検討）
$tab: 1000px; //以下でtab
$sm: 440px; //以下でsm

@mixin tab {
  @media screen and (max-width: $tab) {
    @content;
  }
}
@mixin sm {
  @media screen and (max-width: $sm) {
    @content;
  }
}

.container {
  margin: 0 auto;
  width: clamp(320px, 80%, 1244px);
  @include tab {
    width: clamp($sm, 80%, $tab);
  }
  @include sm {
    width: auto;
    padding: 0 20px;
  }
}
